{%- set client_proto = (etcd_tls_enabled | bool) | ternary('https', 'http') -%}
ETCDCTL_API=3
ETCDCTL_ENDPOINTS={{ client_proto }}://127.0.0.1:{{ etcd_client_port }}
{% if etcd_tls_enabled | bool %}
ETCDCTL_CACERT={{ etcd_pki_dir }}/ca.crt
ETCDCTL_CERT={{ etcd_pki_dir }}/client.crt
ETCDCTL_KEY={{ etcd_pki_dir }}/client.key
{% endif %}
