[Unit]
Description=etcd snapshot (etcdctl snapshot save)
After=network-online.target etcd.service
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile={{ etcd_conf_dir }}/etcd.env
EnvironmentFile={{ etcd_conf_dir }}/etcd-snapshot.env
{% if etcd_systemd_maintenance_hardening_enabled | bool %}
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths={{ etcd_backup_dir }} {{ etcd_data_dir }} {{ etcd_conf_dir }} {{ etcd_log_dir }} /tmp
{% endif %}
ExecStart=/usr/local/sbin/etcd-snapshot.sh
